# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy Node.js app to Azure Web App - insider-api

on:
  push:
    branches:
      - main
    paths:
      - 'server/**'
      - '.github/workflows/main_insider-api.yml'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 9

      - name: Install dependencies and build
        working-directory: ./server
        run: |
          pnpm install
          pnpm run build

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: |
            server/dist
            server/package.json
            server/pnpm-lock.yaml

  deploy:
    runs-on: ubuntu-latest
    needs: build
    
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 9

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'

      - name: Install production dependencies
        working-directory: ./server
        run: pnpm install --prod

      - name: 'Deploy to Azure Web App'
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'insider-api'
          slot-name: 'Production'
          package: ./server
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_4EF5F7F6068743B6B03A3E9C7032EBEA }}